.detail-view {
  background-color: #0d0d0d;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}


.detail-card{
  height: auto;
  min-width: 650px;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 232, 31, 0.4);
  border: 1px solid #ffe81f;
  background-color: #1a1a1a;
}

.detail-card-title{
  text-align: center;
  font-size: 3rem;
  margin-top: 2%;
  margin-bottom: 4%;
  color: #ffe81f;
  text-shadow: 0 0 10px rgba(255, 232, 31, 0.6);
}

.detail-card-columns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  gap: 20px;
}

.detail-card-column-l,
.detail-card-column-r {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  gap: 10px;
  color: #dcdcdc;
  font-size: 1.2rem;
}

.detail-card-property{
  margin-bottom: 10px;
  font-size: 1.2rem;
  color: #f5f5f5;
  font-weight: 500;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.1);
  /* Le podemos dar propiedades a cada span (a cada `propiedad)*/
}

.detail-card button {
  background-color: #ffe81f;
  color: #0d0d0d;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 8px rgba(255, 232, 31, 0.6);
}

.detail-card button:hover {
  background-color: #ffcc00;
  box-shadow: 0 0 12px rgba(255, 232, 31, 1);
}


